body, html {
    margin: 0 auto;
    padding: 0 auto;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

/* BANNER */

.bannerimg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100vh;
    background-image: url("banner.jpg");
    background-size: auto 100vh;
    background-repeat: no-repeat;
    color: #cfd8d5;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

/* NAVIGATION */

.navwrapper {
    padding-left: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    height: 5vh;
}

.navitem {
    list-style: none;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: #03251b;
}

/* Interests & Contact */

.mewrapper {
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.me {
    width: 55%;
    border-radius: 50%;
}

@media (orientation: landscape) {

    .bannerimg {
        background-size: 100% 100vh;
    }

    .navwrapper {
        height: 15vh;
    }

    .mewrapper {
        height: 90vh;
    }

    .me {
        width: 35%;
    }
}