body, html {
    margin: 0 auto;
    padding: 0 auto;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

/* BANNER */

.bannerimg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100vh;
    background-image: url("banner.jpg");
    background-size: auto 100vh;
    background-repeat: no-repeat;
    color: #cfd8d5;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

/* NAVIGATION */

.navwrapper {
    width: 100%;
    display: flex;
    padding-left: 0;
    justify-content: space-around;
}
.logo {
    height: 2rem;
    width: auto;
}

.navitem {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: #003B20; 
    font-weight: bolder;
}

/* Interests & Contact */
.mewrapper {
    text-align: center;
    margin-top: 10%;
}

.me {
    height: auto;
    width: 40%;
    border-radius: 50%;
}