body, html {
    margin: 0 auto;
    padding: 0 auto;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    background-color: #e1e4e3;
}

/* BANNER */

.bannerimg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100vh;
    background-image: url("banner.jpg");
    background-size: auto 100vh;
    background-repeat: no-repeat;
    color: #cfd8d5;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

/* NAVIGATION */

.navwrapper {
    padding-left: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    height: 5vh;
}

.navitem {
    list-style: none;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: #03251b;
}

/* Interests & Contact */

.mewrapper {
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.me {
    width: 55%;
    border-radius: 50%;
}

.skills, .interests {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(1.5, 1fr 2fr);
    gap: 1.5%;
    height: 85vh;
    padding: 2% 2%;
    margin: 0;
}

.skill, .interest{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}

.skill:hover, .interest:hover {
    box-shadow: 2px 2px 5px #535353;
}

.top {
    font-family: 'Raleway', sans-serif;
    color: #cfd8d5;
    font-weight: 600;
    font-size: 1.5rem;
    grid-row: span 1;
    grid-column: 1 / -1;
    background-color: #889bb6;
    margin: 0;
}

.big {
    grid-row: span 3;
    grid-column: span 1;
    background-color: #597fb4;
}

.medium {
    grid-row: span 2;
    background-color: #b3d1c0;
}

.small {
    grid-row: span 1;
    background-color: #f8f4db;
}

.hobbies {
    margin-top: 10%;
}

@media (orientation: landscape) {

    .bannerimg {
        background-size: 100% 100vh;
    }

    .navwrapper {
        height: 15vh;
    }

    .mewrapper {
        height: 90vh;
    }

    .me {
        width: 35%;
    }

    .skills, .interests {
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        grid-template-rows: repeat(4, 1fr 2fr);
        grid-auto-flow: dense;
    }

    .top {
        grid-row: span 2;
    }

    .hobbies {
        margin-top: 5%;
    }

}